body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.scores {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}

.gameboard {
    display: grid;
    gap: 1px;
    background-color: #222;
    border: 10px solid rgb(31, 197, 31);
    background-image: 
        linear-gradient(#333 1px, transparent 1px), 
        linear-gradient(90deg, #333 1px, transparent 1px);
    background-size: calc(100% / var(--board-size)) calc(100% / var(--board-size));
}


.snake {
    background-color: rgb(31, 197, 31);
}

.food {
    background-color: red;
}

.difficulty-selector {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.difficulty-selector label {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 15px;
    width: 60px;
}

.difficulty-selector input {
    display: none;
}

.difficulty-selector input:checked + label {
    border-color: rgb(31, 197, 31);
    background-color: #444645;
}

.hideBtns {
    display: none;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    width: 250px;
}

.message button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(31, 197, 31);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message button:hover {
    background-color: #45a049;
}
