/*Background*/
.bckgrnd {
    background: linear-gradient(-45deg, #063278, #511473, #164874, #511473);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*Scroll Bar*/
::-webkit-scrollbar {
    width: 7.5px;
}
::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: #4c1d95;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8a5cf6cc;
}